/*
Google Fonts
 */

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Zdc1GAK6b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngMUXZYTXPIvIBgJJSb6ufN5qWr4xCC.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngMUXZYTXPIvIBgJJSb6ufN5qWr4xCC.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
Global Text Styling
 */

h1 {
    font-family: "Roboto Slab";
    font-weight: bold;
}

h3 {
    font-family: "Roboto Slab";
    font-weight: bold;
}

p {
    font-family: "Open Sans";
    font-size: 1.25rem;
}

nav {
    font-family: "Open Sans";
    font-weight: bold;
}

/*
Navbar styling
 */

.bg-customGray {
    background-color: rgb(41, 41, 41);
}

.bg-customWhite {
    background-color: rgba(255, 255, 255, 0.8);
}

nav.navbar {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.navbar-dark .navbar-nav>li>a,
.navbar-dark .navbar-nav>li>a:visited,
.navbar-dark .navbar-nav>li>a:hover,
.navbar-dark .navbar-nav>li>a:active {
    color: rgb(255, 255, 255) !important;
}

/*
Banner Styling
 */

.bg-customPurple {
    background-color: rgb(185, 151, 198);
}

.mt-custom-4 {
    margin-top: 4.4rem;
}

/*
About Me Styling
 */

.bg-customTeal {
    background-color: rgb(118, 204, 209);
}

/*
Footer Styling
 */

.bg-customPink {
    background-color: rgb(250, 204, 215);
}

/*
Portfolio Styling
 */

.overlay-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(250, 204, 215);
}

.overlay-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(185, 151, 198);
}

.col-lg-3:hover .overlay-1 {
    opacity: .9;
}

.col-lg-3:hover .overlay-2 {
    opacity: .9;
}

.text {
    color: black;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

img[src*="jpeg"] {
    border: 13px solid #ffffff;
}