/*
*global CSS
 */

body {
    font-family: Helvetica, sans-serif;
    margin: 2em;
}

/*
*Basic Styling for aesthetic reasons
 */

h1 {
    text-align: center;
    text-decoration-line: underline;
}

img[src*="persona"] {
    width: 350px;
}

li {
    padding: .25em 0;
}

img[src*="desktop"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}